.cabecalho__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0px;
}

.cabecalho__pesquisar__item {
    display: none;
}

.rodape__container {
  display: flex;
  flex-direction: column;
} 

@media (min-width: 834px){
  .cabecalho__pesquisar__item {
    display: block;
  }
}